:root {
    --text: rgb(232, 242, 251);
    --background:rgb(6, 19, 34);
    --primary: rgb(143, 45, 24);
    --secondary: rgb(143, 45, 24);
    --accent: rgb(6, 19, 34);
}

body {
    background:rgb(6, 19, 34);
    text-align: center;
    color: var(--text);
}

main {
    margin-left: 15%;
}

form {
    max-width: 500px;
    margin: 0 auto 1em;
    background-color: var(--primary);
    box-shadow: 0 0 10px var(--background);
    padding: 1em;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

label[for="yes"],
label[for="no"] {
    display: inline;
}

label[for="yes"] {
    margin-right: 5em;
}

input,
textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1.9em;
    border-radius: 10px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: var(--background);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s linear;
}

input[type="radio"] {
    display: inline;
    width: auto;
}

input[type="submit"]:hover {
    border: none;
    transform: translateY(-10px);
}

h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

h2 {
    margin-bottom: 0.9em;
}